.* {
    box-sizing: border-box;
    outline: none;
    font-family: arial, sans-serif;
}

html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}

.contact {
    cursor: pointer;
}

    .contact:hover {
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        transition: 0.5s all;
        color: rgb(0, 148, 254);
    }

footer {
    text-align: center;
    background-color: white;
    opacity: 0.4;
}

    footer span {
        font-size: small;
        font-weight: bold;
    }

.accordion {
    border-bottom: 1px solid black;
    background-color: white;
}

.contacts {
    background-color: white;
    margin: 5px;
    max-height: 210px;
    overflow: auto;
}

.contacts-item {
    display: none;
}

.contacts-active {
    display: inline-block;
    margin-left: 10px;
}

.contacts-open {
    color: green
}

    .contacts-open:hover {
        transition: 0.3s all;
        font-weight: bold;
    }

.contacts-remove {
    color: red;
}

    .contacts-remove:hover {
        transition: 0.3s all;
        font-weight: bold;
    }

.sendBtn {
    border: none;
    background-color: rgb(0, 148, 254);
    padding: 0px 20px 0px 20px;
    height: 100%;
    border-radius: 15px;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 80%;
    opacity: 0.9;
}

    .sendBtn:hover {
        transition: 0.1s all;
        font-size: 15px;
        opacity: 1;
    }

.text-input {
    height: 100%;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: white;
}

.text-input-wrapper {
    height: 100%;    
    border-radius: 15px;
    display: inline-block;
}

.nav-item {
    height: 57px;
}

    .nav-item:hover {
        background-color: lightgray;
    }

.container {
    position: relative;
    width: 50%;
    width: 106px;
    height: 106px;
    margin: auto;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.6;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.menuItem {
    font-size: 12px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.chatBox {
    width: 100%;
    margin: 3px;
}

.chatBox-left {
    text-align-last: start;
}

.chatBox-right {
    text-align-last: right;
}

.chatBox-container-left {
    height: 100%;
    background-color: rgb(199, 254, 199);
    width: auto;
    display: inline-block;
    padding: 0px 10px 0px 5px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    max-width: 50%;
    min-width: 200px;
}

.chatBox-container-right {
    height: 100%;
    background-color: rgb(93, 187, 251);
    width: auto;
    display: inline-block;
    padding: 0px 10px 0px 5px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    max-width: 50%;
    min-width: 200px;
}

.chatBox-content {
    font-size: 13px;
    font-family: arial, sans-serif;
    margin: 3px;
    text-align-last: auto;
}

.chatBox-time-container-left {
    width: 100%;
    text-align: right;
    margin: 0px;
    padding-right: 5px;
    text-align-last: right
}

.chatBox-time-container-right {
    width: 100%;
    text-align: right;
    margin: 0px;
    padding-left: 5px;
    text-align-last: right
}

.chatBox-time {
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    vertical-align: text-top;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(0, 148, 254);
}

.alert {
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    transition: opacity 0.6s;
    opacity: 0.6;
    font-size: small;
    border-radius: 5px;
}

    .alert.error {
        background-color: #c80000;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .alert.success {
        background-color: #4CAF50;
    }

.dropdown-hover-display {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    min-width: max-content;
    background-color: white;
}

.dropdown-item-chat {
    text-decoration: none;    
    cursor: pointer;
    font-size: 12px;
}